{
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "all",
    "semi": false,
    "overrides": [
        {
            "files": ["*.json", "*.js", ".prettierrc", "jest.config.js"],
            "options": {
                "tabWidth": 4,
                "bracketSpacing": false
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
